<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{siteTitle}} Search Engine</title>
    <link rel="stylesheet"
          href="/styles.css"
          type="text/css" />
</head>
<body>
    <div class="wrapper">
        <div class="center-search-area">
            <div class="title-wrapper">
                <h1 class="logo uw-purple">{{siteTitle}}</h1>
            </div>

            <form action="/search">
                <input type="text"
                       name="query"
                       class="searchbar"/>

                <input type="submit"
                       value="Search"
                       class="submit-button"/>
            </form>
        </div>
    </div>
</body>
</html>